# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Personal notes
HOSTING.txt

# Terminal Paste Image folder
# ClipboardPaste-Images, not the other one lol
.cp-images/

# Playwright MCP
.playwright-mcp/

# Screenshots
current-state.png

# VS Code workspace
*.code-workspace
